.swal-popup{
    width: 500px;
    height: 700px;
}


.modal-container{
    display: flex ;
    flex-direction: column;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 14px;
}

.fw-bold{
    display: flex;
    align-items: center;

    padding: 15px;
    height: 55px;

    
}


.modal-cell{
   display: flex;
   flex-direction: column;
   padding-left: 14px;

}

.modal-element{
    display: flex;
    flex-direction: column;

    justify-content: center;
}
